@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

body {
  /* padding: 0 80px 0 80px; */
  font-family: "Inter", sans-serif;
}

header,
section,
.AboutMe, 
.skills {
  padding: 0 80px;
}

p,
span,
ul,
li {
  color: #4b5563;
}

.introImage {
  box-shadow: 60px 60px #e5e7eb;
  border: 10px solid white;
}

.AboutMe, .copyright, .experience {
  background-color: #f9fafb;
}

.aboutMeImage {
  box-shadow: -60px 60px #e5e7eb;
  border: 10px solid white;
  background-image: url("https://s3-alpha-sig.figma.com/img/a823/7c2d/a751e4a2db426ecfca4f62d9ba3dc8f4?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ScmRPtqSr3oqubAqMFwbeSujIqtc0BEB7HBtiF3q3PwzAz9cdfVMmpsoJDvcjMHnSNvajy~qXtB8wwXM-leo4lRSaNwBRfMoNuwGDj40wzPE9nvWkc-0EMddEgBiOLhzwjSD-PVkn7gzA2TisMzyrmWDt0FgWVSBXrHiFdkcFKpq2xBUruNbzJmgQVyotlE4IdWS1tN1mtZ04u~1u7YBhpDCStbEKgzvukJL9q~MNfpij~qgzu92SDEwoLNt58-KSlVmtNPgPZa8EUbryKrmxdCyevmKvR5XY~ToLvEK5vavKlZJ-vQLzgBXg3fEwo0e0AvcKPbCnvsK1DBGTl9QAQ__");
  background-size: cover;
  background-position: center;
}

.aboutme {
  list-style: disc;
  margin-left: 20px;
}

.jslogo {
  color:
   #ffd600;
}

.tslogo {
  color: #3178C6;
}

.reactlogo {
  color: #087EA4
}

.postgre {
  color:  #0064a5
}

.nodelogo {
  color: #5FA04E
}

.nestlogo {
  color: #E0234E
}

.mongologo {
  color: #00684A;
}

.sasslogo {
  color: #F06292
}

.tailwindlogo {
  color: #38BDF8
}

.figmalogo {
  color: #A259FF
}

.storybooklogo {
  color: #FF4081;
}

.gitlogo {
  color: #F4511E
} 

.foot {
  margin: auto;
}